body {
    margin: auto;
}

/*Section 1 menu items*/

.section1 {
    margin-left: -80%;
    margin-right: -80%;
    text-align: center;
    color: rgb(46, 45, 45);
    font-style: normal;
    font-size: 15px;
}
.column {
    float: center;
    width: 40px;
    height: 20px;
  }
  
.row:after {
    content: "";
    display: table;
    clear: both;
  }

#logo {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0);
}

#aboutus {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0);
}

#menu {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0);
}

#news {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0);
}

#reservation {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0);
}


